:root {
  background-color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background: rgba(0, 0, 0, 1);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: var(--mono-font);
  font-weight: 100;
  text-align: center;
  font-size: 1.5rem;
}

.scroll-title {
  position: relative;
  z-index: 5;
}

.logo {
  width: 100vw;
  height: 20vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 35%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  text-align: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  padding-top: 2rem;

  /* For mobile */
  @media (max-width: 48rem) {
    padding-top: 0.5rem;
    height: 15vh;
  }
}

.logo-img {
  min-width: 100px;
  max-width: 150px;
  width: 15vw;
}

.arrow-icon {
  fill: rgba(255, 255, 255, 0.87);
  text-align: center;
}

.events-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-cards-container {
  padding: 30vh 100px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 100px;

  /* For mobile */
  @media (max-width: 48rem) {
    padding: 25vh 10px 100px 10px;
  }
}

/* First event-card */

.event-cards-container > .event-card:first-child {
  height: 40vh;
  max-height: unset;

  @media (max-width: 48rem) {
    height: 50vh;
  }
}

.event-card {
  width: 100%;
  max-width: 750px;
  max-height: 400px;
  position: relative;
}

.event-title {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
  text-align: center;
  padding: 50px 20px 20px 20px;
  color: white;
  font-family: var(--mono-font);
  font-size: 24px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.event-link {
  z-index: 3;
  max-width: 750px;
  max-height: 400px;
}

.event-link,
.event-link-blur {
  display: block;
  user-select: none;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 0;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  position: relative;
}

.event-link-blur-mask {
  @media (max-width: 48rem) {
    background: linear-gradient(
      180deg,
      rgb(0 0 0) 0%,
      rgb(0 0 0 / 0%) 40%,
      rgb(0 0 0) 80%
    );
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 2;
  }
}

.event-link * {
  user-select: none;
}

.event-link-blur {
  z-index: 0;
  top: 0;
  position: absolute;
  filter: blur(0.5rem);
  opacity: 0.3;
  transition: filter 0.2s ease, opacity 0.2s ease, width 0.2s ease,
    height 0.2s ease, transform 0.2s ease;

  @media (max-width: 48rem) {
    opacity: 1;
    filter: blur(1rem);
  }
}

.event-link:hover + .event-link-blur {
  @media (min-width: 48rem) {
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    transform: translate(-1rem, -1rem);
    filter: blur(2rem);
    opacity: 0.7;
  }
}
