:root {
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background: #03001e;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: var(--mono-font);
  font-weight: 100;
}

.logo {
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to top, #03001e, #623580, #c343a1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: height 0.2s ease;

  /* Mobile less then 750 px wide */
  @media (max-width: 750px) {
    height: 20vh;
  }
}

.logo-img {
  min-width: 150px;
  max-width: 250px;
  width: 30vw;
}

.events-container {
  width: 100vw;
  overflow: auto;

  height: 70vh;
  /* Mobile less then 750 px wide */
  @media (max-width: 750px) {
    height: 80vh;
  }
}

.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.events-buffer {
  height: 5vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  position: absolute;

  z-index: 2;

  top: 30vh;
  transition: top 0.2s ease;

  /* Mobile less then 750 px wide */
  @media (max-width: 750px) {
    top: 20vh;
  }
}

.event-cards-container {
  padding: 5vh 20px 100px 20px;
  display: flex;
  gap: 100px;
  flex-direction: column;
  align-items: center;
}

.event-card {
  max-width: 750px;
  max-height: 400px;
  position: relative;
}

.event-title {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 50px 20px 20px 20px;
  color: white;
  font-family: var(--mono-font);
  font-size: 24px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.event-img,
.event-img-blur {
  border-radius: 10px;
  aspect-ratio: 15/8;
  object-fit: cover;
  object-position: top center;
  max-height: 400px;
}

.event-img {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.event-img-blur {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(0.5rem);
  opacity: 0.3;
  z-index: 0;
  transition: filter 0.2s ease;
}

.event-img-blur:hover {
  filter: blur(2rem);
  opacity: 0.7;
}
